@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html{
  font-size: 10px;
}
body{
  font-family: "Inter", sans-serif;
  font-size: 1.4rem; line-height: 1.35; color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(187, 166, 211)
}
.wrap{
  text-align: center;
  background-color: #fff;
  padding: 20px 50px;
  border-radius: 30px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
h1{
  font-size: 5rem;
}
.number{
  font-size: 10rem;
  font-weight: 700;
  padding: 30px;
  background: linear-gradient(rgb(187, 166, 211), #985);
  color: transparent;
  background-clip: text;
}
.btn{
  display: flex;
  align-items: center;
  gap: 5px;
}
.btn button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
}
.btn button.reset{
  width: 70px;
  height: 70px;
  color: #000;
  background-color: #fff;
  border: 3px solid #ddd;
  margin: 0px 5px;
}